html, body {
  width: 100%;
  height: 100%; }

body {
  background: #f6f6f6; }

input, textarea, button {
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none; }

.clear:after, .model .login .login-header .bg-title .logo:after, .model .message .login-header .bg-title .logo:after {
  clear: both;
  content: ''; }

.icon, .icon i {
  font-style: normal; }

.model {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background: #f6f6f6;
  z-index: 9999; }
  .model .login, .model .message {
    width: 460px;
    margin: 60px auto 0;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); }
    .model .login .login-header, .model .message .login-header {
      padding: 30px 0;
      background: #2a94db; }
      .model .login .login-header .bg-title, .model .message .login-header .bg-title {
        position: relative;
        overflow: hidden;
        text-align: center;
        height: 24px;
        line-height: 24px;
        font-size: 20px;
        color: #fff;
        font-weight: bolder; }
        .model .login .login-header .bg-title .logo, .model .message .login-header .bg-title .logo {
          width: 24px;
          height: 24px;
          display: inline-block;
          position: relative;
          overflow: hidden;
          margin-right: 7px; }
          .model .login .login-header .bg-title .logo span, .model .message .login-header .bg-title .logo span {
            display: block;
            float: left;
            width: 8px;
            height: 8px;
            background: rgba(255, 255, 255, 0.2); }
          .model .login .login-header .bg-title .logo .px-logo-2, .model .message .login-header .bg-title .logo .px-logo-2, .model .login .login-header .bg-title .logo .px-logo-6, .model .message .login-header .bg-title .logo .px-logo-6, .model .login .login-header .bg-title .logo .px-logo-8, .model .message .login-header .bg-title .logo .px-logo-8 {
            background: rgba(255, 255, 255, 0.8); }
        .model .login .login-header .bg-title > span, .model .message .login-header .bg-title > span {
          vertical-align: top; }
      .model .login .login-header .sm-title, .model .message .login-header .sm-title {
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: normal;
        margin-top: 10px; }
    .model .login .login-content, .model .message .login-content {
      display: block;
      background: #fff;
      padding: 30px; }
      .model .login .login-content .form-group, .model .message .login-content .form-group {
        margin-bottom: 15px;
        position: relative;
        display: block;
        overflow: hidden; }
        .model .login .login-content .form-group .icon, .model .message .login-content .form-group .icon {
          font-size: 20px;
          color: #818a91;
          font-weight: normal;
          width: 36px;
          height: 22px;
          top: 9px;
          left: 1px;
          position: absolute;
          line-height: 22px;
          text-align: center;
          border-right: 1px solid rgba(0, 0, 0, 0.14); }
        .model .login .login-content .form-group .form-control, .model .message .login-content .form-group .form-control, .model .login .login-content .form-group .control-box, .model .message .login-content .form-group .control-box {
          display: block;
          width: 100%;
          height: 40px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 8px 18px 8px 50px;
          border-radius: 3px;
          line-height: 40px;
          border: 1px solid #d6d6d6;
          background: #fff;
          margin: 0;
          outline: none;
          font-size: 14px;
          color: #333;
          font-weight: normal; }
          .model .login .login-content .form-group .form-control:focus, .model .message .login-content .form-group .form-control:focus, .model .login .login-content .form-group .control-box:focus, .model .message .login-content .form-group .control-box:focus {
            border-color: #2a94db; }
          .model .login .login-content .form-group .form-control.checkcode, .model .message .login-content .form-group .form-control.checkcode, .model .login .login-content .form-group .control-box.checkcode, .model .message .login-content .form-group .control-box.checkcode {
            width: 60%;
            padding: 8px 18px;
            float: left; }
        .model .login .login-content .form-group .control-box, .model .message .login-content .form-group .control-box {
          line-height: 24px;
          font-size: 14px;
          color: #333;
          font-weight: normal; }
          .model .login .login-content .form-group .control-box .radio-box, .model .message .login-content .form-group .control-box .radio-box {
            margin-right: 10px;
            vertical-align: middle; }
            .model .login .login-content .form-group .control-box .radio-box input[type=radio], .model .message .login-content .form-group .control-box .radio-box input[type=radio] {
              vertical-align: middle;
              margin-right: 4px;
              -webkit-appearance: radio;
              -moz-appearance: radio;
              appearance: radio; }
        .model .login .login-content .form-group .imgcode, .model .message .login-content .form-group .imgcode {
          width: 30%;
          height: 40px;
          float: left;
          margin-left: 10px;
          cursor: pointer; }
      .model .login .login-content .submit, .model .message .login-content .submit {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        display: block;
        text-align: center;
        color: #fff;
        background: #2a94db;
        outline: none;
        border: 0;
        cursor: pointer;
        border-radius: 3px;
        border: 1px solid #2183c5; }
        .model .login .login-content .submit:focus, .model .message .login-content .submit:focus, .model .login .login-content .submit:hover, .model .message .login-content .submit:hover {
          color: #fff;
          border-color: #207ebc #207ebc #13496e;
          background: #248cd2; }
    .model .login .login-footer, .model .message .login-footer {
      background: #f7f7f7;
      padding: 26px 30px;
      font-size: 14px;
      color: #444;
      font-weight: normal; }
  .model .message .icon {
    -webkit-box-shadow: 0 4px 6px #fcce76;
    box-shadow: 0 4px 6px #fcce76; }
  .model .message .content {
    text-align: center;
    padding: 50px 0 20px 0; }
    .model .message .content .msg {
      font-size: 16px;
      color: #000;
      font-weight: normal; }
    .model .message .content .counter {
      margin-top: 20px;
      font-size: 12px;
      color: #333;
      font-weight: normal; }
    .model .message .content .redirect {
      display: inline-block;
      background: #f7a849;
      font-size: 14px;
      color: #fff;
      font-weight: normal;
      padding: 4px 10px;
      cursor: pointer;
      border-radius: 4px;
      margin-top: 20px; }
  .model .error .icon {
    font-size: 80px;
    color: #fff;
    font-weight: normal;
    text-align: center;
    background: #eeb039; }
  .model .error .content .msg {
    color: #936610; }

@media screen and (max-width: 750px) {
  .model .login, .model .message {
    width: 100%;
    margin: 0 auto 0;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .model .login .login-footer, .model .message .login-footer {
      text-align: center; } }

/*# sourceMappingURL=guest.css.map */
